#root{ min-height: 100vh;background-color: #4caf50;}
*{margin: 0; padding: 0;}

$cardBackC: #000;
$cardPattC: #fff;
$cardFrontC: #fff;
$tb-bd-w : 1px; // tbody border weight

header{
  font-family: 'Georgia', 'Times New Roman', 'serif';
  margin-left: 10px;
  padding-top: 10px;
  .try_len{
    color: #fff;
    font-size: 18px;
  }
  .get_score{
    margin-right: 15px;
    br{display: none;}
  }
  .btn_restart{
    margin-left: 15px;
    width: 100px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #F7D51D;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #E59400;
  }
}

.flex_table{
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  .tbody .tr{
    display: flex;
    justify-content: space-around;
    &:nth-child(2n){margin: 30px 0;}
    .td{
      width: 100px; 
      height: 140px; 
      border-radius: 7px;
      box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
      background-color: $cardBackC;
      background-image: linear-gradient(45deg, $cardPattC 40%, transparent 40%, transparent 70%, $cardPattC 70%, $cardPattC), linear-gradient(-45deg, $cardPattC 40%, transparent 40%, transparent 70%, $cardPattC 70%, $cardPattC);
      background-size: 25px 24px;
      transition: all 0.2s;
      &:active{
        transform: scale(1.1);
      }
      p{
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        font: 40px Georgia, Times New Roman, serif;
        &:before{
          position: absolute;
          font-size: 20px;
          left: 5px;
          top: 5px;
        }
        &:after{
          position: absolute;
          font-size: 20px;
          right: 5px;
          bottom: 5px;
        }
        &.ico_A:before, &.ico_A:after {
          content: "♦";
          color: #ff0000;
        }
        &.ico_B:before, &.ico_B:after {
          content: "♥";
          color: #ff0000;
        }
        &.ico_C:before, &.ico_C:after {
          content: "♣";
          color: #000;
        }
        &.ico_D:before, &.ico_D:after {
          content: "♠";
          color: #000;
        }
      }
    }
    .pass{ 
      transform:rotateY(180deg); 
      animation:cardOn 1s forwards;   
      background: none;
      p{
        opacity: 1; 
        color: #000;
        transition: all 0.8s;
      }
    }
  }
}

@keyframes cardOn {
  15%{background-color: $cardFrontC; color: #111111;}
  100% {transform:rotateY(360deg); background-color: $cardFrontC; color: #111111;}
}

@media screen and (max-width: 414px) {
  header{
    .get_score{
      display: block;
      margin-right: 0px;
      margin-bottom: 3px;
      font-size: 14px;
      br{display: block;}
    }
  }
  .flex_table{
    .tbody .tr{
      &:nth-child(2n){margin: 20px 0;}
      .td{
        width: 60px;
        height: 80px;
        background-size: 19px 27px;
        background-image: linear-gradient(45deg, #fff 40%, transparent 40%, transparent 70%, #fff 70%, #fff), linear-gradient(-45deg, #fff 30%, transparent 30%, transparent 60%, #fff 60%, #fff);
        p{
          font-size: 30px;
          &:before{font-size: 15px;}
          &:after{font-size: 15px;}
        }
      }
    }
  }
}

.spinner{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #ffffff;
  // background: rgba(0, 0, 0, 1);
}
svg {
  display: block;
  width: 500px;
  max-width: 100%;
  padding: calc(50vh - 167px) auto 0;
}

.letter {
  fill: none;
  stroke: #23C0F1;
  stroke-width: 13px;
  animation: draw 6s infinite ease-in-out;
}
@-webkit-keyframes draw {
  20%, 90% {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke: #111;
  }
  100% {
    opacity: 0;
  }
}
@keyframes draw {
  20%, 90% {
    opacity: 1;
    stroke-dashoffset: 0;
    stroke: #111;
  }
  100% {
    opacity: 0;
  }
}
.letter:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.letter:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.letter:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.letter:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.letter:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.letter:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.letter:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.letter:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.letter:nth-child(11) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.letter--s {
  stroke-dasharray: 103;
  stroke-dashoffset: 103;
}
.letter--u {
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
}
.letter--p1-1 {
  stroke-dasharray: 42;
  stroke-dashoffset: 42;
}
.letter--p1-2 {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
}
.letter--p2-1 {
  stroke-dasharray: 42;
  stroke-dashoffset: 42;
}
.letter--p2-2 {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
}
.letter--l {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
}
.letter--e-1 {
  stroke-dasharray: 37;
  stroke-dashoffset: 37;
}
.letter--e-2 {
  stroke-dasharray: 64;
  stroke-dashoffset: 64;
}
.letter--e-3 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
}
