table{border-spacing: 30px; border-collapse: separate;}
td{width: 100px; height: 100px; background-color: #fff; text-align: center; border: 1px solid #000;}
/* td p{display: none;} */
.pass{background-color: #ffffff; color: #111111;}
.pass p{display: block;}
/* .ON{color: #111111;}
.OFF{color: #ffffff;} */